<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some website</title>
    </head>
        <body>
            {{> header}}
            <p>This is portfolio site</p>


        {{> footer}}
    </body>
</html>